<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.ContractSaleMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.ContractSale">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="part_a" jdbcType="VARCHAR" property="partA" />
    <result column="signing_date" jdbcType="CHAR" property="signingDate" />
    <result column="construction_site" jdbcType="VARCHAR" property="constructionSite" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="amount_excluding_tax" jdbcType="DECIMAL" property="amountExcludingTax" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="update_time" jdbcType="CHAR" property="updateTime" />
    <result column="payment_term" jdbcType="VARCHAR" property="paymentTerm" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="file_c" jdbcType="VARCHAR" property="fileC" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
  </resultMap>


  <select id="pageList" resultType="com.flong.springboot.modules.entity.vo.ContractSaleVo" parameterType="com.flong.springboot.modules.entity.dto.ContractSaleDto">
    select t.*,t1.cust_name as custName,t2.note as contractStatusNote,
    t4.opt_button as checkUserButton,t5.create_user_button as createUserButton,
    t4.role_code as checkRoleCode
    from t_pss_contract_sale t
    left join t_pss_customer t1 on t.part_a = t1.cust_code
    left join t_pss_dict t2 on t.contract_status = t2.code and t2.type = 'htzt'
    left join t_pss_process_task t3 on t.process_id = t3.process_id
    left join t_pss_process t4 on t3.step = t4.step and t4.type = 'xsht'
    left join t_pss_status_button t5 on t5.`status` = t.contract_status and t5.type ='htzt'
    where 1=1
    <if test="contractSale.contractCode != null and contractSale.contractCode != ''">
      and t.contract_code like "%"#{contractSale.contractCode}"%"
    </if>
    <if test="contractSale.contractName != null and contractSale.contractName != ''">
      and t.contract_name like "%"#{contractSale.contractName}"%"
    </if>
    <if test="contractSale.signingBeginDate != null and contractSale.signingBeginDate != '' and contractSale.signingEndDate != null and contractSale.signingEndDate != ''">
      and t.signing_date between #{contractSale.signingBeginDate} and #{contractSale.signingEndDate}
    </if>
    <if test="contractSale.contractStatus != null and contractSale.contractStatus != ''">
      and t.contract_status = #{contractSale.contractStatus}
    </if>
    order by t.id
  </select>

  <select id="getOneById" resultType="com.flong.springboot.modules.entity.vo.ContractSaleVo">
    select t.*,t1.cust_name as custName,t2.note as contractStatusNote from t_pss_contract_sale t
    left join t_pss_customer t1 on t.part_a = t1.cust_code
    left join t_pss_dict t2 on t.contract_status = t2.code and t2.type = 'htzt'
    where 1=1
    <if test="id != null and id != ''">
      and t.id = #{id}
    </if>

  </select>


  <select id="getOneByCode" resultType="com.flong.springboot.modules.entity.vo.ContractSaleVo">
    select t.*,t1.cust_name as custName,t2.note as contractStatusNote from t_pss_contract_sale t
    left join t_pss_customer t1 on t.part_a = t1.cust_code
    left join t_pss_dict t2 on t.contract_status = t2.code and t2.type = 'htzt'
    where 1=1
    <if test="contractCode != null and contractCode != ''">
      and t.contract_code = #{contractCode}
    </if>

  </select>

</mapper>