<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.ContractSaleMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.ContractSale">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="part_a" jdbcType="VARCHAR" property="partA" />
    <result column="signing_date" jdbcType="CHAR" property="signingDate" />
    <result column="construction_site" jdbcType="VARCHAR" property="constructionSite" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="amount_excluding_tax" jdbcType="DECIMAL" property="amountExcludingTax" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="update_time" jdbcType="CHAR" property="updateTime" />
    <result column="payment_term" jdbcType="VARCHAR" property="paymentTerm" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="file_c" jdbcType="VARCHAR" property="fileC" />
  </resultMap>


  <select id="pageList" resultType="com.flong.springboot.modules.entity.vo.ContractSaleVo" parameterType="com.flong.springboot.modules.entity.dto.ContractSaleDto">
    select t.*,t1.cust_name as custName,t2.note as contractStatusNote from t_pss_contract_sale t
    left join t_pss_customer t1 on t.part_a = t1.cust_code
    left join t_pss_dict t2 on t.contract_status = t2.code and t2.type = 'htzt'
    where 1=1
    <if test="contractSale.contractCode != null and contractSale.contractCode != ''">
      and t.contract_code like "%"#{contractSale.contractCode}"%"
    </if>
    <if test="contractSale.contractName != null and contractSale.contractName != ''">
      and t.contract_name like "%"#{contractSale.contractName}"%"
    </if>
    <if test="contractSale.signingBeginDate != null and contractSale.signingBeginDate != '' and contractSale.signingEndDate != null and contractSale.signingEndDate != ''">
      and t.signing_date between #{contractSale.signingBeginDate} and #{contractSale.signingEndDate}
    </if>
    <if test="contractSale.contractStatus != null and contractSale.contractStatus != ''">
      and t.contract_status = #{contractSale.contractStatus}
    </if>
  </select>

  <select id="getOneById" resultType="com.flong.springboot.modules.entity.vo.ContractSaleVo">
    select t.*,t1.cust_name as custName,t2.note as contractStatusNote from t_pss_contract_sale t
    left join t_pss_customer t1 on t.part_a = t1.cust_code
    left join t_pss_dict t2 on t.contract_status = t2.code and t2.type = 'htzt'
    where 1=1
    <if test="id != null and id != ''">
      and t.id = #{id}
    </if>

  </select>

</mapper>