<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cust_code" jdbcType="VARCHAR" property="custCode" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="contracts" jdbcType="VARCHAR" property="contracts" />
    <result column="contract_tel" jdbcType="VARCHAR" property="contractTel" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="files_c" jdbcType="VARCHAR" property="filesC" />
  </resultMap>


  <select id="pageList" resultType="com.flong.springboot.modules.entity.vo.CustomerVo" parameterType="com.flong.springboot.modules.entity.dto.CustomerDto">
    select t.*,t1.note as typename from t_pss_customer t
    left join t_pss_dict_tree t1 on t.type = t1.`code` and t1.node_type=1
    where 1=1
    <if test="customer.custCode != null and customer.custCode != ''">
      and t.cust_code like "%"#{customer.custCode}"%"
    </if>
    <if test="customer.custName != null and customer.custName != ''">
      and t.cust_name like "%"#{customer.custName}"%"
    </if>
    <if test="customer.type != null and customer.type != ''">
      and t.type = #{customer.type}
    </if>
  </select>
</mapper>