<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.EvaSchemeMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.EvaScheme">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
    <result column="upd_time" jdbcType="CHAR" property="updTime" />
    <result column="enable_flag" jdbcType="VARCHAR" property="enableFlag" />
    <result column="scheme_des" jdbcType="VARCHAR" property="schemeDes" />
  </resultMap>

</mapper>