<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.EvaSchemeMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.EvaScheme">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
    <result column="upd_time" jdbcType="CHAR" property="updTime" />
    <result column="enable_flag" jdbcType="VARCHAR" property="enableFlag" />
    <result column="scheme_des" jdbcType="VARCHAR" property="schemeDes" />
  </resultMap>

  <select id="pageList" resultType="com.flong.springboot.modules.entity.vo.EvaSchemeVo"
          parameterType="com.flong.springboot.modules.entity.dto.EvaSchemeDto">
    select t.*,t1.name userName from t_pss_eva_scheme t
    left join t_pss_user t1 on t.upd_user = t1.user_id
    where 1=1
    <if test="evaSchemeDto.schemeName != null and evaSchemeDto.schemeName != ''">
      and t.name like "%"#{evaSchemeDto.schemeName}"%"
    </if>

    order by t.upd_time desc
  </select>

</mapper>