<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.FeedbackMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.Feedback">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="opt_user" jdbcType="VARCHAR" property="optUser" />
    <result column="opt_time" jdbcType="VARCHAR" property="optTime" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="file_c" jdbcType="VARCHAR" property="fileC" />
  </resultMap>

  <select id="pageList" resultType="com.flong.springboot.modules.entity.vo.FeedbackVo"
          parameterType="com.flong.springboot.modules.entity.dto.FeedbackDto">
    SELECT
    t.*, t1. NAME userName,
    t2.companyName
    FROM
    t_pss_feedback t
    LEFT JOIN t_pss_user t1 ON t.opt_user = t1.user_id
    LEFT JOIN (
    SELECT
    cust_code companyCode,
    cust_name companyName
    FROM
    t_pss_customer
    UNION ALL
    SELECT
    supplier_code companyCode,
    supplier_name companyName
    FROM
    t_pss_supplier
    UNION ALL
    SELECT
    dept_code companyCode,
    name companyName
    FROM
    t_pss_dept
    ) t2 ON t.company = t2.companyCode
    WHERE
    1 = 1
    <if test="feedbackDto.beginDate != null and feedbackDto.beginDate != '' and feedbackDto.endDate != null and feedbackDto.endDate != ''">
      and t.opt_time between #{feedbackDto.beginDate} and #{feedbackDto.endDate}
    </if>
  </select>

  <select id="getOneById" resultType="com.flong.springboot.modules.entity.vo.FeedbackVo">
    SELECT
    t.*, t1. NAME userName,
    t2.companyName
    FROM
    t_pss_feedback t
    LEFT JOIN t_pss_user t1 ON t.opt_user = t1.user_id
    LEFT JOIN (
    SELECT
    cust_code companyCode,
    cust_name companyName
    FROM
    t_pss_customer
    UNION ALL
    SELECT
    supplier_code companyCode,
    supplier_name companyName
    FROM
    t_pss_supplier
    UNION ALL
    SELECT
    dept_code companyCode,
    name companyName
    FROM
    t_pss_dept
    ) t2 ON t.company = t2.companyCode
    WHERE
    1 = 1
    <if test="id != null and id != ''">
      and t.id = #{id}
    </if>
  </select>
</mapper>