<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.MaterialStockMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.MaterialStock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="upd_time" jdbcType="CHAR" property="updTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="selectQuantityToIn">
    select t1.material_code,t1.quantity from t_pss_order t
    left join t_pss_material_detail_log t1 on t.order_code = t1.foreign_code
    where t.`status` > '1' and t.`status` not in ( '4','7')
    and t.order_type = '1'
    and t1.material_code is not null
  </sql>

  <sql id="selectQuantityIn">
    select t1.material_code,t1.acpt_quantity quantity from t_pss_order t
    left join t_pss_material_detail_send t1 on t.order_code = t1.order_code
    where t.`status` = '7'
    and t.order_type = '1'
    and t1.material_code is not null
  </sql>

  <sql id="selectQuantityToOut">
    select t1.material_code,t1.quantity from t_pss_order t
    left join t_pss_material_detail_log t1 on t.order_code = t1.foreign_code
    where t.`status` > '1' and t.`status` not in ( '4','7')
    and t.order_type = '2'
    and t1.material_code is not null
  </sql>

  <sql id="selectQuantityOut">
    select t1.material_code,t1.quantity from t_pss_order t
    left join t_pss_material_detail_log t1 on t.order_code = t1.foreign_code
    where t.`status` = '7'
    and t.order_type = '2'
    and t1.material_code is not null
  </sql>

  <select id="findAll" resultType="com.flong.springboot.modules.entity.vo.MaterialStockVo"
          parameterType="com.flong.springboot.modules.entity.dto.MaterialStockDto">
    select t.*,t1.material_name as materialName,t1.material_model as materialModel,t1.measure_unit as measureUnit from t_pss_material_stock t
    left join t_pss_material_mgt t1 on t.material_code = t1.material_code
    where 1=1
    <if test="materialStockDto.materialCodeList != null and materialStockDto.materialCodeList.size() > 0">
      and t.material_code in
      <foreach collection="materialStockDto.materialCodeList" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    order by t.id
  </select>

  <select id="pageList" resultType="com.flong.springboot.modules.entity.vo.MaterialStockDetailVo"
          parameterType="com.flong.springboot.modules.entity.dto.MaterialStockDto">
    select t.*,t1.material_model materialModel,t1.measure_unit measureUnit,
    IFNULL(A.quantityToIn,0) quantityToIn,IFNULL(A1.quantityIn,0) quantityIn,
    IFNULL(B.quantityToOut,0) quantityToOut,IFNULL(B1.quantityOut,0) quantityOut,
    t.quantity - IFNULL(B.quantityToOut,0) avlQuantity
    from t_pss_material_stock t
    LEFT JOIN t_pss_material_mgt t1 on t.material_code = t1.material_code
    LEFT JOIN (
        select material_code,sum(quantity) quantityToIn from (
          <include refid="selectQuantityToIn"></include>
        ) x1
        group by material_code
    ) A on t.material_code = A.material_code

    LEFT JOIN (
        select material_code,sum(quantity) quantityIn from (
          <include refid="selectQuantityIn"></include>
        ) x2
        group by material_code
    ) A1 on t.material_code = A1.material_code

    LEFT JOIN (
        select material_code,sum(quantity) quantityToOut from (
          <include refid="selectQuantityToOut"></include>
        ) x3
        group by material_code
    ) B on t.material_code = B.material_code

    LEFT JOIN(
        select material_code,sum(quantity) quantityOut from (
          <include refid="selectQuantityOut"></include>
        ) x4
        group by material_code
    ) B1 on t.material_code = B1.material_code
    where 1=1
    <if test="materialStockDto.materialCode != null and materialStockDto.materialCode != ''">
      and t.material_code like "%"#{materialStockDto.materialCode}"%"
    </if>
    <if test="materialStockDto.materialName != null and materialStockDto.materialName != ''">
      and t.material_name like "%"#{materialStockDto.materialName}"%"
    </if>
    <if test="materialStockDto.materialModel != null and materialStockDto.materialModel != ''">
      and t1.material_model = #{materialStockDto.materialModel}
    </if>
    <if test="materialStockDto.materialType != null and materialStockDto.materialType != ''">
      and t1.type = #{materialStockDto.materialType}
    </if>
    <if test="materialStockDto.excludeNull != null and materialStockDto.excludeNull != ''">
      and t.quantity > 0
    </if>
    order by t.id desc
  </select>


  <select id="getOneByCode" resultType="com.flong.springboot.modules.entity.vo.MaterialStockDetailVo">
    select t.*,t1.material_model materialModel,t1.measure_unit measureUnit,
    IFNULL(A.quantityToIn,0) quantityToIn,IFNULL(A1.quantityIn,0) quantityIn,
    IFNULL(B.quantityToOut,0) quantityToOut,IFNULL(B1.quantityOut,0) quantityOut,
    t.quantity - IFNULL(B.quantityToOut,0) avlQuantity
    from t_pss_material_stock t
    LEFT JOIN t_pss_material_mgt t1 on t.material_code = t1.material_code
    LEFT JOIN (
    select material_code,sum(quantity) quantityToIn from (
    <include refid="selectQuantityToIn"></include>
    ) x1
    group by material_code
    ) A on t.material_code = A.material_code

    LEFT JOIN (
    select material_code,sum(quantity) quantityIn from (
    <include refid="selectQuantityIn"></include>
    ) x2
    group by material_code
    ) A1 on t.material_code = A1.material_code

    LEFT JOIN (
    select material_code,sum(quantity) quantityToOut from (
    <include refid="selectQuantityToOut"></include>
    ) x3
    group by material_code
    ) B on t.material_code = B.material_code

    LEFT JOIN(
    select material_code,sum(quantity) quantityOut from (
    <include refid="selectQuantityOut"></include>
    ) x4
    group by material_code
    ) B1 on t.material_code = B1.material_code
    where 1=1
    <if test="materialCode != null and materialCode != ''">
      and t.material_code = #{materialCode}
    </if>
  </select>


  <select id="pageMaterialLogList" resultType="com.flong.springboot.modules.entity.vo.MaterialStockLogVo"
          parameterType="com.flong.springboot.modules.entity.dto.MaterialStockLogDto">
    select * from (SELECT
    t1.id,
    t1.order_type orderType,
    t80.note orderTypeName,
    t1.send_type sendType,
    t81.note sendTypeName,
    t1.application_date applicationDate,
    t1.order_code orderCode,
    t1.supplier_code supplierCode,
    t2.supplier_name supplierName,
    t1.applicant,
    t3. NAME userName,
    t.material_code materialCode,
    t.material_name materialName,

    CASE
    WHEN t1.`status` > '1'
    AND t1.`status` NOT IN ('4', '6','7')
    AND t1.order_type = '1'  and  t1.send_type ='2' THEN
    t.quantity

    ELSE
    0
    END quantityToIn,

    CASE
    WHEN t1.`status` = '7'
    AND t1.order_type = '1' THEN
    t.acpt_quantity
    ELSE
    0
    END quantityIn,

    CASE
    WHEN t1.`status` > '1'
    AND t1.`status` NOT IN ('4', '7')
    AND t1.order_type = '2' THEN
    t.quantity
    ELSE
    0
    END quantityToOut,

    CASE
    WHEN t1.`status` = '7'
    AND t1.order_type = '2' THEN
    t.quantity
    ELSE
    0
    END quantityOut

    FROM
    t_pss_order t1
    LEFT JOIN (
    select t.order_code,t1.material_code,t1.material_name,t1.quantity,t2.acpt_quantity from t_pss_order t
    left join t_pss_material_detail_log t1 on t.order_code = t1.foreign_code
    left join (select order_code,material_code,sum(acpt_quantity) acpt_quantity from t_pss_material_detail_send
    group by order_code,material_code
    ) t2 on t1.foreign_code = t2.order_code and t1.material_code = t2.material_code
    ) t ON t.order_code = t1.order_code

    LEFT JOIN t_pss_dict t80 ON t1.order_type = t80. CODE
    AND t80.type = 'ddlx'
    LEFT JOIN t_pss_dict t81 ON t1.send_type = t81. CODE
    AND t81.type = 'sdfs'
    LEFT JOIN t_pss_supplier t2 ON t1.supplier_code = t2.supplier_code
    LEFT JOIN t_pss_user t3 ON t1.applicant = t3.user_id
    )  A
    where 1=1
    and A.materialCode IS NOT NULL
    and (A.quantityToIn != 0 or A.quantityIn != 0 or A.quantityToOut != 0 or A.quantityOut != 0 )
    <if test="materialStockLogDto.materialCode != null and materialStockLogDto.materialCode != ''">
      and A.materialCode = #{materialStockLogDto.materialCode}
    </if>
    order by A.id desc
  </select>

</mapper>