<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.MaterialMgtMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.MaterialMgt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="material_model" jdbcType="VARCHAR" property="materialModel" />
    <result column="measure_unit" jdbcType="VARCHAR" property="measureUnit" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
  </resultMap>

  <select id="pageList" resultType="java.util.Map" parameterType="com.flong.springboot.modules.entity.MaterialMgt">
    select t.id,t.material_code,t.material_name,t.type,t1.note as typename,t.material_model,t.measure_unit,t.create_user,t.create_time,t.brand,t.is_delete from t_pss_material_mgt t
    left join t_pss_dict_tree t1 on t.type = t1.code and t1.type = 'wllb'
     where 1=1
    <if test="materialMgt.materialCode != null and materialMgt.materialCode != ''">
      and t.material_code like "%"#{materialMgt.materialCode}"%"
    </if>
    <if test="materialMgt.materialName != null and materialMgt.materialName != ''">
      and t.material_name like "%"#{materialMgt.materialName}"%"
    </if>
    <if test="materialMgt.type != null and materialMgt.type != ''">
      and t.type = #{materialMgt.type}
    </if>
    <if test="materialMgt.materialModel != null and materialMgt.materialModel != ''">
      and t.material_model = #{materialMgt.materialModel}
    </if>
    order by t.id
  </select>

</mapper>