<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.MaterialDetailLogMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.MaterialDetailLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="detail_id" jdbcType="VARCHAR" property="detailId" />
    <result column="foreign_code" jdbcType="VARCHAR" property="foreignCode" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="price_tax" jdbcType="DECIMAL" property="priceTax" />
    <result column="amount_price" jdbcType="DECIMAL" property="amountPrice" />
    <result column="estimated_delivery_time" jdbcType="CHAR" property="estimatedDeliveryTime" />
    <result column="record_time" jdbcType="CHAR" property="recordTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="file_c" jdbcType="VARCHAR" property="fileC" />
  </resultMap>

  <select id="findAll" resultType="com.flong.springboot.modules.entity.vo.MaterialDetailLogVo">
    select *,t1.material_name as materialName,t1.material_model as materialModel,t1.measure_unit as measureUnit,
    (select sum(t2.acpt_quantity) from t_pss_material_detail_send t2
    where t.foreign_code = t2.order_code and t.material_code = t2.material_code and t.brand = t2.brand
    group by t2.order_code,t2.material_code) acptQuantity from t_pss_material_detail_log t
    left join t_pss_material_mgt t1 on t.material_code = t1.material_code
    where 1=1
    <if test="foreignCode != null and foreignCode != ''">
      and t.foreign_code = #{foreignCode}
    </if>
    order by t.id desc
  </select>


  <select id="findRaw" resultType="com.flong.springboot.modules.entity.vo.MaterialDetailLogVo">
    select t.*,t1.material_name as materialName,t1.material_model as materialModel,t1.measure_unit as measureUnit,
    ifnull((select sum(t2.acpt_quantity)  from t_pss_material_detail_send t2
    where t.foreign_code = t2.order_code and t.material_code = t2.material_code and t.brand = t2.brand
    group by t2.order_code,t2.material_code),0) acptQuantity from t_pss_material_detail_log t
    left join t_pss_material_mgt t1 on t.material_code = t1.material_code
    where 1=1
    and t.source_type = '1'
    and t1.type in (select code from t_pss_dict_tree where (parent_id = 8 or id = 8))
    <if test="foreignCode != null and foreignCode != ''">
      and t.foreign_code = #{foreignCode}
    </if>
    order by t.id desc
  </select>
</mapper>