<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.ProcessLogMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.ProcessLog">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="opt_time" jdbcType="VARCHAR" property="optTime" />
    <result column="opt_user" jdbcType="VARCHAR" property="optUser" />
    <result column="opt_result" jdbcType="VARCHAR" property="optResult" />
    <result column="opt_opinion" jdbcType="VARCHAR" property="optOpinion" />
  </resultMap>

</mapper>