<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flong.springboot.modules.mapper.ProcessLogMapper">
  <resultMap id="BaseResultMap" type="com.flong.springboot.modules.entity.ProcessLog">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="step_name" jdbcType="VARCHAR" property="stepName" />
    <result column="opt_time" jdbcType="VARCHAR" property="optTime" />
    <result column="opt_user" jdbcType="VARCHAR" property="optUser" />
    <result column="opt_result" jdbcType="VARCHAR" property="optResult" />
    <result column="opt_opinion" jdbcType="VARCHAR" property="optOpinion" />
  </resultMap>

  <select id="findAll" resultType="com.flong.springboot.modules.entity.ProcessLog">
    select t.id,t.process_id,t.step_name,t.opt_time,t.opt_result,
    t.opt_opinion,t1.name opt_user from t_pss_process_log t
    left join t_pss_user t1 on t.opt_user = t1.user_id
    where 1=1
    <if test="processId != null and processId != ''">
      and t.process_id = #{processId}
    </if>
  </select>
</mapper>